<header class="header">
  <div class="view horizontal">
    <a href="/" ><img class="logo" src="assets/icons/logo-text.png" alt=""></a>
    <div class="header-menu horizontal">
      <ul>
        <a *ngFor="let item of menu" href="{{item.href}}"><li>{{item.title}}</li></a>
      </ul>
      <a *ngIf="food?.length != 0" href="/dashboard/my-orders">
        <mat-icon matBadge="{{food.length}}" matBadgeColor="accent">
          fastfood
        </mat-icon>
        </a>
      <a *ngIf="cart?.length != 0" href="/dashboard/my-cart">
        <mat-icon matBadge="{{cart.length}}" matBadgeColor="accent">
          shopping_cart
        </mat-icon>
      </a>
      <a *ngIf="!isconnected ; else Connected" href="/auth/sign-in" >
        <button class="orange-btn extra-small-btn">
          Login
        </button>
      </a>
      <ng-template #Connected>
        <a class="profile" (click)="openMenu()" id="accountIcon"><mat-icon>account_circle</mat-icon></a>
        <div id="accountMenu" class="account">
          <div class="content">
            <a href="/dashboard/settings" class="line">Settings</a>
            <a href="/dashboard/my-orders" >My Orders</a>
            <a href="/dashboard/my-cart" class="line">My Gifts</a>
            <a href="/dashboard/gift-history" >Gift history</a>
            <a href="/dashboard/order-history" class="line">Orders history</a>
            <a (click)="logout()"><div class="menuIcon"><mat-icon>logout</mat-icon></div> Logout</a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</header>
