@use '/src/app/theme.scss' as style;

.header{
  height: 70px;
  width: 100%;
  background-color: #fff;
  color: style.$base-color;
  box-shadow:   0 2px 6px style.$shadow-color;
  z-index: 999;
  position: fixed;
  top: 0;
  .view{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo{
      margin: auto;
      height: 50px;
    }
    .header-menu{
      position: relative;
      justify-content: space-between;
      ul{
        list-style-type: none;
        padding-inline-start: 0;
        li{
          display: inline;
        }
      }
      a{
        margin: 20px;
        color: style.$base-color;
      }
      .profile{
        height: 30px;
        width: 30px;
        margin-right: 0px;
        mat-icon{
          height: 30px;
          width: 30px;
          font-size: 30px;
        }
      }
      .open{
        visibility: visible !important;
      }
      .account{
        visibility: hidden;
        position: absolute;
        right: 0px;
        top: 80px;
        border-radius: 10px;
        background: inherit ;
        border: solid 1px style.$base-color;
        min-width: 180px;
        min-height: 238px;
        padding: 10px;
        overflow: hidden;
        .content{
          position: absolute;
          display: flex;
          flex-direction: column;
          min-width: 180px;
          a{
            margin: 10px 10px 0 10px;
            padding-bottom: 10px;
            display: flex;
            align-items: center;
            .menuIcon{
              background: inherit;
              box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.7);
              height: 30px;
              width: 30px;
              border-radius: 50%;
              margin-right: 10px;
              mat-icon{
                font-size: 20px;
                margin: 5px;
              }
            }
          }
          .line{
            border-bottom: solid 1px style.$base-color ;
          }
        }
        
      }
      .account:before {
        content: '';
        position: absolute;
        background: inherit;
        left: -25px;
        right: -25px;
        top: -25px;
        bottom: -25px;
        box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.7);
        filter: blur(10px);
        border-radius: 10px;
      }
    }

    
  }
}