<div class="reservation">
  <form 
  [formGroup]="Reservation"
  #form="ngForm" 
  >
  <div class="view">
    <app-page-title title="RESERVATION" width ="auto" ></app-page-title>
    <div class="header">
      <h3>Welcome to MochaCafe</h3>
    </div>
    <div class="description">
      Choose the date and table that suits you most for a better experience.
    </div>
  </div>
  <div class="select-date">
    <div id="{{date.getDate()}}" (click)="select(date)" 
    class="one-day day-item " 
    *ngFor="let date of dates ; index as i;">

      <div>{{day[date.getDay()]}}</div>
      <div class="day">{{date.getDate()}}</div>
      <div>{{month[date.getMonth()]}}</div>
    </div>
    <div id="5" class="day-item">
      <input 
      [matDatepicker]="picker" 
      (dateChange)="change()" 
      formControlName="date" 
      [matDatepickerFilter]="myFilter" 
      style="display: none;" #selectedDate>

      <mat-datepicker (dateChange)="change()" touchUi="true" #picker></mat-datepicker>
      <mat-icon class="date-picker" mat-raised-button (click)="picker.open()">date_range</mat-icon>
    
    </div>
  </div>
  <div class="view">
    <div class="reservation-content">
      <div class="time">
        Time : 
        <mat-form-field class="time-select" appearance="fill">
          <mat-select  name="hour" formControlName="hour" >
            <mat-option *ngFor="let hour of hour" [value]="hour" (click)="getReservations()">
              {{hour}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        :
        <mat-form-field class="time-select" appearance="fill">
          <mat-select  name="minute" formControlName="minute" >
            <mat-option *ngFor="let minute of minute" [value]="minute" (click)="getReservations()">
              {{minute}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <h3>How many people?</h3>
      <mat-divider></mat-divider>
      <div class="quantity">Quantity</div>
      <div class="form">
        
          <h4>Normal</h4>
          <div class="input"> 
            <mat-icon class="icon" 
              onclick="this.parentNode.querySelector('[type=number]').stepDown();">
              remove_circle
            </mat-icon>
            <input formControlName="normal"  class="put" type="number" max="100" min="1" #normal>
            <mat-icon class="icon" 
              onclick="this.parentNode.querySelector('[type=number]').stepUp();">
              add_circle
            </mat-icon>
          </div>
        
      </div>
      <mat-divider></mat-divider>
      <div class="form">
        <h4>Child (-10 years)</h4>
        <div class="input">
          <mat-icon class="icon" 
              onclick="this.parentNode.querySelector('[type=number]').stepDown();">
              remove_circle
            </mat-icon>
          <input formControlName="child"  class="put" type="number" max="100" min="0" #child>
          <mat-icon class="icon" 
            onclick="this.parentNode.querySelector('[type=number]').stepUp();">
            add_circle
          </mat-icon>
        </div>
        
      </div>
      
      <mat-divider></mat-divider>
      <h3>What table you’d like?</h3>
      <div *ngIf="
      this.Reservation.controls['hour'].value && 
      this.Reservation.controls['minute'].value
      " class="place">
        <div id="flour" class="floor" >
            <img src="assets/reservation/first-floor.png" alt="">
            <div class="table-click">

              <div 
              *ngFor="let table of tables?.tables" 
              style="top : {{table.y}}%;left : {{table.x}}%"
              class="table" 
              id="{{table.table_number}}">
                <img 
                *ngIf="this.selectedTable.includes(table.table_number)" 
                (click)="removeTable(table.table_number)"
                src="assets/icons/check.png" alt="table.table_number">
                <img *ngIf="this.Reservations.includes(table.table_number);else notReserved" src="assets/icons/reserved.png" alt="1">
                
                <ng-template #notReserved>
                  <div class="selectTable" (click)="selectTable(table.table_number)">
                  </div>
                </ng-template>
              </div> 
            </div>
        </div>
      </div>
      
      <mat-divider></mat-divider>
      <div class="action">
        <button mat-raised-button color="accent" [disabled]="Reservation.invalid" class="btn" (click)="reserve()">Confirm</button>
      </div>
    </div>
  </div>
</form>
</div>
