@use '/src/app/theme.scss' as style;
.password-request{
  padding-top: 150px;
  padding-bottom: 100px;
  .view{
    display: flex;
    justify-content: center;
    .password-request-content{
      background-color: #fff;
      width: 50%;
      p{
        color: style.$black-color;
      }
      form{
        text-align: center;
        h3{
          color: style.$base-color;
        }
        .alert-danger{
          color: style.$red-color;
        }
        .email{
          mat-form-field{
            width: 100%;
          }
          margin: 10px 0;
        } 
        
      }
    }
  }
  
}