<div class="password-request">
  <div class="view">
    <div class="item password-request-content">
      <form class="form-signin" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <h3 class="h3 mb-3 font-weight-normal text-center">Reset Password</h3>
          <p class="mb-4">Provide valid email id to reset your account's password.</p>
    
          <!-- Error -->
          <div *ngIf="errors != null" class="alert alert-danger mt-3">
              {{ errors }}
          </div>
    
          <div *ngIf="successMsg != null" class="alert alert-primary mt-3">
            {{ successMsg?.message }}
          </div>
    
          <!-- Login -->
          <div class="email">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder="Abc@mocha.com">
              <mat-icon matSuffix class="secondary-text">mail</mat-icon>
              <mat-error *ngIf="resetForm.get('email')?.hasError('required')">
                Email is required
              </mat-error>
              <mat-error
                *ngIf="!resetForm.get('email')?.hasError('required') &&
                      resetForm.get('email')?.hasError('email')">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </div>
          

    
          <button type="submit" class="extra-small-btn orange-btn" >
            Reset Password
          </button>
    
      </form>
    </div>
  </div>
</div>

