<header class="header">
  <div class="view horizontal">
    <div class="header-menu horizontal menu-left" style="justify-content: end;">
      <ul>
        <a *ngFor="let item of menu.menu_left" href="{{item.href}}"><li>{{item.title}}</li></a>
      </ul>
    </div>
    <a href="/" ><img class="logo" src="assets/icons/logo.png" alt=""></a>
    <div class="header-menu horizontal menu-right">
      <ul>
        <a *ngFor="let item of menu.menu_right" href="{{item.href}}"><li>{{item.title}}</li></a>
      </ul>
    </div>
  </div>
</header>
