@import '/src/app/theme.scss';

.header{
  height: 70px;
  width: 100%;
  background-color: #fff;
  color: $base-color;
  box-shadow:   0 2px 6px $shadow-color;
  z-index: 999;
  position: fixed;
  top: 0;
  .view{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo{
      margin: auto;
      height: 50px;
    }
    .header-menu{
      justify-content: space-between;
      ul{
        list-style-type: none;
        padding-inline-start: 0;
        li{
          display: inline;
        }
      }
      a{
        margin: 20px;
        color: $base-color;
      }
      .profile{
        height: 30px;
        width: 30px;
        margin-right: 0px;
        mat-icon{
          height: 30px;
          width: 30px;
          font-size: 30px;
        }
      }
    }
  }
}