
@use '/src/app/theme.scss' as style ;

.stat{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px 0;
  div{
    text-align: center;
    color: style.$black-color;
    .cart{
      border: solid 2px style.$orange-color;
      width: 150px;
      height: 70px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      color: style.$orange-color;
      box-shadow: 0px 0px 15px style.$shadow-color;
    }
  }
  
}