<div class="table">
  <div class="table-thumbnail">
    <div class="view">
      <img src="assets/mocha/table.png" alt="">
      <h3>Good Day Mocha Lovers<br> Table {{table_number}}</h3>
    </div>
  </div>
  <div class="view">
    <div class="item table-content">
      <div class="head">
        <div class="date">
          {{toDay}}
        </div>
      </div>
      <div class="category" *ngIf="!product?.length ; else selected">
        <div class="drinks">
          <h3>Drinks</h3>
          <div class="section">
            <ng-template ngFor let-item [ngForOf]="categ">
              <div *ngIf="item.menu == 'Drinks'" class="item-categ vertical">
                <img src="{{item.url}}" alt="" (click)="select(item.id)">
                {{item.name}}
              </div>
            </ng-template>
          </div>
        </div>
        <div class="food">
          <h3>Food</h3>
          <div class="section">
            <ng-template ngFor let-item [ngForOf]="categ">
              <div *ngIf="item.menu == 'Food'" class="item-categ vertical">
                <img src="{{item.url}}" alt="" (click)="select(item.id)">
                {{item.name}}
              </div>
            </ng-template>
          </div>
          
        </div>
        <div class="diy">
          <h3>Diy</h3>
          <div class="section">
            <ng-template ngFor let-item [ngForOf]="categ">
              <div *ngIf="item.menu == 'DIY'" class="item-categ vertical">
                <img src="{{item.url}}" alt="" (click)="select(item.id)">
                {{item.name}}
              </div>
            </ng-template>
          </div>
          
        </div>
      </div>
      <ng-template #selected>
        <div class="selected">
          <div>
            <a class="back" (click)="back()">
              <mat-icon>arrow_back</mat-icon>&nbsp; <b>Back</b>
            </a>
          </div>
          <div class="product" *ngIf="!productError ; else productErrorElse">
            <ng-template ngFor let-item [ngForOf]="product">
              <div>
              <div 
              matRipple 
              [matRippleCentered]="true" 
              (click)="showDescription(item.id)"
              class="item-product vertical">
                <img src="{{item.img}}" alt="" >
                <div class="title">
                  {{item.name}}
                </div>
                <span class="price">
                  {{item.price}} DT
                </span>
                <div id="P{{item.id}}" class="description-poly">
                  <svg xmlns="http://www.w3.org/2000/svg" width="61" height="76" viewBox="0 0 61 76">
                    <path id="Polygon_1" data-name="Polygon 1" d="M30.5,0,61,76H0Z" fill="#e0e0e0"/>
                  </svg>                    
                </div>
              </div>
              <div id="D{{item.id}}" class="description">
                <div class="close-btn"> 
                  <button  mat-mini-fab color="warn" (click)="close()">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <div class="description-content">
                  <div class="description-img">
                    <img src="{{item.img}}" alt="" >
                  </div>
                    <div class="description-text">
                      <h3>
                        {{item.name}}
                      </h3>
                      <div>
                        <span class="price">
                          {{item.price}} DT
                        </span><br>
                      </div>
                      <mat-form-field appearance="outline" >
                        <mat-label>Quantity</mat-label>
                        <input value="1" id="Q{{item.id}}" matInput type="number" placeholder="1"  min="1">
                      </mat-form-field>
                      <div class="actions horizontal">
                        <button 
                        class="extra-small-btn add-to-cart" 
                        (click)="addToCart(item.id,item.name,item.price)" >
                          ADD TO ORDER</button>
                      </div>
                    </div>
                    </div>
                </div>
              </div>
            </ng-template>
            
          
          </div>
          <ng-template #productErrorElse>
            <h3>{{productError}}</h3>
          </ng-template>
        </div>
      </ng-template>
    </div>
  </div>
  
</div>