<div class="password-reset">
  <div class="view">
    <div class="item password-reset-content">
      <form class="form-signin" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <h3 class="h3 mb-3 font-weight-normal text-center">Change Password</h3>

          <!-- Errors -->
          <div *ngIf="errors" class="alert alert-danger mt-3">
              {{ errors }}
          </div>

          <div class="email">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder="Abc@mocha.com">
              <mat-icon matSuffix class="secondary-text">mail</mat-icon>
              <mat-error *ngIf="changePasswordForm.get('email')?.hasError('required')">
                Email is required
              </mat-error>
              <mat-error
                *ngIf="!changePasswordForm.get('email')?.hasError('required') &&
                      changePasswordForm.get('email')?.hasError('email')">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                {{hidePassword ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              
              <mat-error *ngIf="changePasswordForm.get('password')?.hasError('required')">
                  Password is required
              </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="password_confirmation">
            <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
              {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          
            <mat-error *ngIf="changePasswordForm.get('password_confirmation')?.hasError('required')">
              Confirm Password is required
            </mat-error>
            <mat-error 
            *ngIf="!changePasswordForm.get('password_confirmation')?.hasError('required') &&
            changePasswordForm.get('password_confirmation')?.hasError('mustMatch')">
              Confirm Password doesn't match
          </mat-error>
          </mat-form-field>
          </div>

          <button type="submit" class="extra-small-btn orange-btn">Reset Password</button>
      </form>
    </div>
  </div>
</div>