<div class="manage-rewords">
  <div class="add-reword">
    <p>add reword </p><a><mat-icon (click)="openDialog()">add_circle_outline</mat-icon></a>
  </div>
  <div class="data">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter2($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource2" #MatSort2="matSort" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th class="short" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td class="short" mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

    
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td  mat-cell *matCellDef="let row">{{row.description}} </td>
        </ng-container>

         <!-- Points Column -->
         <ng-container matColumnDef="points">
          <th class="short" mat-header-cell *matHeaderCellDef mat-sort-header> Points </th>
          <td class="short" mat-cell *matCellDef="let row">{{row.points}}</td>
        </ng-container>

         <!-- From Column -->
         <ng-container matColumnDef="from">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header> From </th>
          <td  mat-cell *matCellDef="let row">{{row.date_start}}</td>
        </ng-container>

         <!-- To Column -->
         <ng-container matColumnDef="to">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header> To </th>
          <td  mat-cell *matCellDef="let row">{{row.date_end}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator #MatPaginator2 [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  
</div>