<div class="sign-in">
  <div class="view">
    <div class="content horizontal">
      <div >
        <form name="loginForm" [formGroup]="loginForm" novalidate class="form vertical">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Abc@mocha.com">
            <mat-icon matSuffix class="secondary-text">mail</mat-icon>
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
              Email is required
            </mat-error>
            <mat-error
              *ngIf="!loginForm.get('email')?.hasError('required') &&
                      loginForm.get('email')?.hasError('email')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
  
  
          <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error>
                  Password is required
              </mat-error>
          </mat-form-field>
  
          
          <mat-checkbox class="remember-me" aria-label="Remember Me">
              Keep me Signed in.
          </mat-checkbox>
  
          <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                  [disabled]="loginForm.invalid">
              LOGIN
          </button>
  
          <div class="links">
            <a class="forgot-password" [routerLink]="'/'">
              Forgot you  username?
            </a>
    
            <a class="forgot-password" [routerLink]="'/'">
                Forgot you  Password?
            </a>
          </div>
          
  
        </form>
      </div>
      <div class="title">
        <H3>MOCHA COFFEE</H3>
        <b>Sign in or create an account</b><br>MOCHACOFE MEMBERSHIP
      </div>
    </div>
  </div>
</div>
