@import '/src/app/theme.scss';

.sign-in{
  padding-top: 150px;
  padding-bottom: 100px;
  background-image: url('/assets/img/auth/Sign\ In\ background.png');
  background-position: center;
  .content{
    justify-content: space-between;
    .form{
      justify-content: space-between;
      align-items: flex-start;
      background-color:#fff ;
      border-radius: 7px;
      padding: 0px;
      height: 300px;
      width: 340px;
      padding: 20px;
      mat-form-field{
        width: 100%;
      }
      .links{
        display: grid;
        a{
          color: $orange-color;
        }
      }
      .submit-button{
        text-align: center;
        width: 100%;
        button{
          border-radius: 25px;
          margin : 20px 0;
          width: 80%;
        }
      }
    }
    .go-to-signup{
      background-image: url('/assets/img/auth/sign-in.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 350px;
      height: 120px;
      margin-top: 20px;
      justify-content: space-between;
      padding: 20px;
      h5{
        color: $base-color;
        margin: 0;
      }
      p{
        margin: 0;
        text-align: center;
        font-size: 12px;
        color: $black-color;
      }
      a{
        cursor: pointer;
      }
      button{
        background-color: #fff;
        color: $base-color;
        border-radius: 20px;
        height: 25px;
        width: 100px;
        border: solid 0;
      }
    }
    .title{
      color: #fff;
      font-size: 20px;
      width: 380px;
      h3{
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 20px;
      }
    }
    
  }
  
}