<div #allCommmands class="check-commands">
  <div *ngFor="let command of commands?.data" class="command" id="command.command.id">
    <div class="header" (click)="select(command.command.id,command.detail)">
      <span>Ref : {{command.command.id}}</span> <span>Table number : {{command.table}}</span> <span><mat-icon>expand_more</mat-icon></span>
    </div>
    <div id="M+command.command.id" *ngIf="command.command.id == selected">
      <div class="action">
        <button class="btn white-btn">Done</button>
        <button class="btn white-btn">Cancel</button>
      </div>
      <div *ngIf="products">
        <div *ngFor="let product of products.products">
          {{product.product.name}} !  {{product.quantity}}
        </div>
      </div>
    </div>
  </div>
</div>
