@use '/src/app/theme.scss' as style;

.check-commands{
  min-height: 500px;
  border: solid 2px style.$base-color;
  border-radius:  10px;
  padding: 10px 10px 0 10px;
  margin-top: 20px;
  .command{
    color: #fff;
    background-color: style.$base-color;
    border-radius: 20px;
    margin-bottom: 10px ;
    padding: 10px;
    .header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      cursor: pointer;
    }
    .action{
      margin: 5px 0;
      text-align: right;
      .btn{
        margin: 0 10px;
        font-size: 13px;
        font-weight: 500;
        height: 20px;
        border-radius: 15px;
        padding: 0 20px;
        cursor: pointer;
      }
    }
  }
  .noCommands{
    margin-top: 20px;
    text-align: center;
    color: style.$base-color;
  }
}