@use '/src/app/theme.scss' as style;

.gifts{
  margin-top: 100px;
  margin-bottom: 50px;
  h3{
    text-align: center;
    color: style.$base-color;
  }
  .subscription{
    width: 100%;
    height: 80px;
    margin-bottom: 50px;
    justify-content: space-around;
    .sub{
      text-align: center;
      span{
        font-size: 14px;
        color: style.$base-color;
      }
    }
    mat-divider{
      height: 100%;
    }
  }
  .gifts-content{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    
    .left-nav{
      height: 700px;
      width: 25%;
      background-color: #fff;
      color: style.$base-color;
      .form-search{
        margin-bottom: 20px;
        div{
          justify-content: space-between;
          input{
            width: 60%;
            height: 34px;
            font-size: 15px;
            padding: 0 20px;
            border-radius: 20px;
            color:style.$base-color;
            border: solid 1px style.$base-color;
            caret-color:  style.$orange-color;
            
          }
          input:focus{
            border: solid 2px style.$orange-color;
            color:style.$orange-color;
            outline: none ;
          }
          .search-button{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            mat-icon{
              display:block;
            }
          }
        }
        
      }
      .form-filter{
        div{
          justify-content: space-between;
          width: 100%;
          mat-form-field{
            width: 70px;
          }
        }
        .actions{
          margin-top: 20px;
          width: 100%;
          justify-content: space-around;
          button{
            width: 100px;
          }
        }
        
        
      }
    }
    .right-content{
      padding-top: 30px;
      width: 63%;
      .sort-view{
        color: style.$base-color;
        justify-content: space-between;
        margin-bottom: 20px;
        span{
          font-weight: 600;
        }
        mat-button-toggle-group{
          margin-left: 20px;
        }
      }
      .grid{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .item-grid-gift{
          background-color: #fff;
          cursor: pointer;
          border-radius: 10px;
          color: style.$base-color;
          text-align: center;
          width: 190px;
          height: fit-content;
          padding: 10px 10px 40px 10px;
          margin: 10px;
          position: relative;
          img{
            border-radius: 7px;
            width: 100%;
            height: 230px;
            object-fit:cover;
            margin-bottom: 20px;
          }
          .price{
            color: style.$orange-color;
            font-size: 15px;
            position: absolute;
            bottom: 10px;
          }
          .description-poly{
            display: none;
            position: absolute;
            bottom: 50px;
          }
      }
      .description{
        display :none;
        background-color: #E0E0E0;
        border-radius: 10px;
        padding: 20px;
        position:absolute;
        z-index: 10;
        right: 0;
        left: 0;
        height: 300px;
        margin-top: -100px;
        box-shadow: 0 4px 4px style.$shadow-color;
        .close-btn{
          position: absolute;
          top: 20px;
          right: 20px;
        }
        .description-content{
          display: flex;
          height: 100%;
          width: 100%;
          .description-img{
            width: 30%;
            height: 100%;
              img{
                width: 100%;
                height: 100%;
                border-radius: 7px;
                object-fit: cover;
                object-position: center;
                
              }
          }
          .description-text{
            width: 70%;
            margin-left: 20px;
            
            color: #626262;
            h3{
              text-align: left;
              color: style.$base-color;
            }
            .price{
              color: style.$orange-color;
              
            }
            mat-form-field{
              width: 100px;
              margin-top: 20px;
            }
            .actions{
              margin-bottom: 20px;
              width: 330px;
              justify-content: space-between;
              .add-to-cart{
                border: solid 1px #F36295;
                color: #F36295;
                background-color: transparent;
              }
              .command-now{
                background-color: #F36295;
                color: #fff;
                border: solid 1px transparent;
              }
            }
            .details{
              font-size: 13px;
            }
            
          }
        }
        
      }
    }

    .list{
      display: flex;
      flex-wrap: wrap;
      .item-list-gift{
        background-color: #fff;
        border-radius: 10px;
        color: style.$base-color;
        width: 100%;
        height: auto;
        padding: 10px 10px 10px 10px;
        margin: 10px;
        position: relative;
        img{
          border-radius: 7px;
          width: 180px;
          height: 100%;
        }
        mat-divider{
          height: 100%;
          margin: 0 10px;
        }
        .description{
          color: #626262;
            h3{
              font-weight: 500;
              margin-top: 0;
              text-align: left;
              color: style.$base-color;
            }
            .price{
              color: style.$orange-color;
              
            }
            mat-form-field{
              width: 100px;
              margin-top: 20px;
            }
            .actions{
              margin-bottom: 20px;
              width: 330px;
              justify-content: space-between;
              .add-to-cart{
                border: solid 1px #F36295;
                color: #F36295;
                background-color: transparent;
              }
              .command-now{
                background-color: #F36295;
                color: #fff;
                border: solid 1px transparent;
              }
            }
            .details{
              font-size: 13px;
            }
        }

      }
    }
      
    }
  }
}

