<div class="view">
  <div class="gifts">
    <app-page-title title="GIFTS-CENTER" width ="380px" ></app-page-title>
    <div class='subscription horizontal'>
      <div class="sub">
        <h3>Review Shipping Fees</h3>
        <span>Anywhere you are</span>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      
      <div class="sub">
        <h3>Subscribe to Center NewsFeed</h3>
        <span>Stay updated on new arrivals</span>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="sub">
        <h3>Follow us on Instagram</h3>
        <span>@mochacofeTunisie</span>
      </div>
    </div>
    <div class="gifts-content">
      <div class="left-nav item">
        <h3>Filter</h3>

        <form 
        name="SearchForm" 
        [formGroup]="SearchForm" 
        novalidate 
        (ngSubmit)="filter()"
        class="form-search">
          <h5>Search :</h5> 
          <div class="horizontal">
            <input formControlName="search" placeholder="exemple : Black">
            <button 
            class="search-button orange-btn">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </form>

        <form 
        name="filterForm" 
        [formGroup]="filterForm" 
        novalidate 
        (ngSubmit)="filter()"
        class="form-filter">
        <h5>Price :</h5> 
        <div class="horizontal">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Min</mat-label>
            <input matInput placeholder="0" type="number" formControlName="min" >
          </mat-form-field>
  
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Max</mat-label>
            <input matInput placeholder="100" type="number" formControlName="max" >
          </mat-form-field>
          
        </div>
        <mat-divider></mat-divider>

        <div class="actions horizontal">
          <button 
          class="extra-small-btn white-orange-btn"
          (click)="reset()">
              Reset
          </button>
          <button 
          class="extra-small-btn orange-btn">
              Filter
          </button>
        </div>
        
        
      </form>
      </div>
      <div class="right-content" >
        <div class="sort-view horizontal">
          <div class="horizontal">
            View : 
            <mat-button-toggle-group
            name="view"
            aria-label="view style"
            appearance="legacy"
            value="grid">
              <mat-button-toggle value="grid" (click)="viewChange('grid')">
                Grid 
                <mat-icon aria-hidden="false" aria-label="apps icon">apps</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle value="list" (click)="viewChange('list')">
                List 
                <mat-icon aria-hidden="false" aria-label="view_headline icon">view_headline</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
            
            
          </div>
          <div class="horizontal">
              
            <form>
              <mat-form-field appearance="legacy">
                <mat-label>Sort By</mat-label>
                <mat-select [(ngModel)]="sortSelected" name="value">
                  <mat-option *ngFor="let item of sortList" [value]="item" (click)="filter()">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>
        </div>
        <div *ngIf="!giftsError ; else categErrorElse">
        
        <div *ngIf="layout == 'grid' ; else list" class="grid">
            <ng-template ngFor let-item [ngForOf]="gifts">
              <div>
                <div 
                matRipple 
                [matRippleCentered]="true" 
                class="item-grid-gift vertical" 
                (click)="showDescription(item.id)">

                  <img src="{{item.img}}" alt="" >
                  {{item.name}}
                  <span class="price">
                    {{item.price}} DT
                  </span>
                  <div id="P{{item.id}}" class="description-poly">
                    <svg xmlns="http://www.w3.org/2000/svg" width="61" height="76" viewBox="0 0 61 76">
                      <path id="Polygon_1" data-name="Polygon 1" d="M30.5,0,61,76H0Z" fill="#e0e0e0"/>
                    </svg>                    
                  </div>
                </div>
                <div id="D{{item.id}}" class="description">
                  <div class="close-btn"> 
                    <button  mat-mini-fab color="warn" (click)="close()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <div class="description-content">
                    <div class="description-img">
                      <img src="{{item.img}}" alt="" >
                    </div>
                      <div class="description-text">
                        <h3>
                          {{item.name}}
                        </h3>
                        <div>
                          <span class="price">
                            {{item.price}} DT
                          </span><br>
                          In Stock : {{item.quantity}}
                        </div>
                        <mat-form-field appearance="outline" >
                          <mat-label>Quantity</mat-label>
                          <input value="1" id="Q{{item.id}}" matInput type="number" placeholder="1"  min="1" max="{{item.quantity}}">
                        </mat-form-field>
                        <div class="actions horizontal">
                          <button 
                          class="extra-small-btn add-to-cart" 
                          (click)="addToCart(item.id,item.name,item.price)" 
                          (click)="openSnackBar('Product added', 'OK')">
                            ADD TO CART</button>
                          <a href="/dashboard?cart=y"><button 
                            class="extra-small-btn btn command-now"
                            (click)="addToCart(item.id,item.name,item.price)" 
                            (click)="openSnackBar('Product added', 'OK')"
                            >COMMAND NOW</button></a>
                        </div>
                        <div class="details">
                          {{item.description}}
                        </div>
                        
                      </div>
                  </div>
                </div>
              </div>
            </ng-template>
        </div>
        <ng-template  #list>
          <div class="list">
            <ng-template ngFor let-item [ngForOf]="gifts">
              <div class="item-list-gift horizontal">
                <img src="{{item.img}}" alt="" >
                <mat-divider [vertical]="true"></mat-divider>
                <div class="description">
                  <h3>
                    {{item.name}}
                  </h3>
                  <div>
                    <span class="price">
                      {{item.price}} DT
                    </span><br>
                    In Stock : {{item.quantity}}
                  </div>
                  <mat-form-field appearance="outline" >
                    <mat-label>Quantity</mat-label>
                    <input value="1" id="Q{{item.id}}" matInput type="number" placeholder="1"  min="1" max="{{item.quantity}}">
                  </mat-form-field>
                  <div class="actions horizontal">
                    <button 
                      class="extra-small-btn add-to-cart" 
                      (click)="addToCart(item.id,item.name,item.price)" 
                      (click)="openSnackBar('Product added', 'OK')"
                    >ADD TO CART</button>
                    <a href="/dashboard?cart=y"><button 
                      class="extra-small-btn btn command-now"
                      (click)="addToCart(item.id,item.name,item.price)" 
                      (click)="openSnackBar('Product added', 'OK')"
                      >COMMAND NOW</button></a>
                  </div>
                  <div class="details">
                    {{item.description}}
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
          
      </ng-template>
    </div>
    <ng-template #categErrorElse>
      <h3>{{giftsError}}</h3>
    </ng-template>
        
      </div>
    </div>
    
  </div>
</div>


