@import '/src/app/theme.scss';

.footer{
  background-color: #fff;
  color: $base-color;
  box-shadow: 0 -2px 6px $shadow-color;
  .view{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .top{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 40px;
      .brand{
        width: 20%;
        .logo{
          height: 200px;
        }
        .social{
          width: 100%;
          justify-content: space-around;
          img{
            height: 20px;
          }
          margin: 20px 0;
        }
        
      }
      .location{
        width: 20%;
        h3{
          margin-top: 0;
        }
        img{
          height: 200px;
        }
      }
    }
    .bottom{
      width: 100%;
      text-align: center;
      .copyright{
        margin: 10px 0;
      }
    }
  }
  
}