<div class="footer">
  <div class="view">
    <div class="top">
      <div class="brand vertical">
        <img class="logo" src="/assets/icons/logo.png" alt="">
        <div class="social horizontal">
          <button mat-mini-fab color="accent">
            <mat-icon>facebook</mat-icon>
          </button>
          <button mat-mini-fab color="accent">
            <img src="/assets/icons/insta.png" alt="">
          </button>
          <button mat-mini-fab color="accent">
            <img src="/assets/icons/twitter.png" alt="">
          </button>
          <button mat-mini-fab color="accent">
            <img src="/assets/icons/in.png" alt="">
          </button>
        </div>
      </div>
      <div class="location vertical">
        <h3>Location</h3>
        <img src="/assets/img/map.jpg" alt="">
      </div>
    </div>
    <div class="bottom">
      <mat-divider></mat-divider>
      <div class="copyright">
        © 2021 Mocha Coffee Shop. All rights reserved.
      </div>
    </div>
  </div>
</div>
