<div class="view">
  <div class="dashboard">
    <app-page-title title="Dashboard" width ="245px" ></app-page-title>
    <div class="dashboard-content">
      <div class="left-nav item vertical">
        <img class="profile-img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
        <h3>{{name}}</h3>
        <div>{{points}} pts</div>
        <mat-divider class="line"></mat-divider>
        <div class="nav">
          <ul>
            <li class="" id="{{item.path}}" routerLink="{{item.path}}" queryParamsHandling="merge" (click)="select(item.path)" *ngFor="let item of nav">{{item.title}}</li>
          </ul>
        </div>
        <button class="logout-btn small-btn" (click)="logout()">Logout</button>
      </div>
      <div class="right-nav">
        <router-outlet></router-outlet>
        <!-- <div *ngIf="navigation('0')">
          <app-general-settings></app-general-settings>
        </div>
        <div *ngIf="navigation('5')">
          <app-order></app-order>
        </div>
        <div *ngIf="navigation('4')">
          <app-cart></app-cart>
        </div>
        <div *ngIf="navigation('1')">
          <app-gift-orders></app-gift-orders>
        </div>
        <div *ngIf="navigation('2')">
          <app-coffee-orders></app-coffee-orders>
        </div>
        <div *ngIf="navigation('3')">
          <app-reservations></app-reservations>
        </div> -->
      </div>
    </div>
  </div>
</div>
