@use '/src/app/theme.scss' as style;

.dashboard{
  margin-top: 100px;
  margin-bottom: 50px;
  .dashboard-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    .left-nav{
      position: relative;
      background-color: #fff;
      color: style.$base-color;
      .profile-img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
      }
      .line{
        width: 100%;
        margin: 20px 0 ;
      }
      .nav{
        width: 100%;
        ul{
          list-style: none;
          padding-inline-start: 0px;
          li{
            margin: 10px 0;
            padding-left: 50px !important;
            padding: 10px 0;
            cursor: pointer;
          }
        }
      }
      .logout-btn{
        position: absolute;
        color: #fff;
        background-color: #FD5353;
        border: solid 2px #FD5353;
      }
    }
  }
}

@media screen and (min-width:700px){
  .dashboard{
    .dashboard-content{
      .left-nav{
        height: 700px;
        width: 25%;
        .nav{
          ul{
            margin-left: -50px;
          }
          .element-selected{
            display: none;
          }
          .selected{
            background-color: style.$orange-color;
            border-radius: 0 20px 20px 0;
            color: #fff;
          }
        }
        .logout-btn{
          bottom: 50px ;
        }
        
      }
      .right-nav{
        width: 60%;
        height: 100%;
        padding-top: 50px;
        
      }
    }
  }
}

@media screen and (max-width:700px){
  $width : calc((100vw - 40px)/2);
  .dashboard{
    .dashboard-content{
      flex-direction: column;
      .left-nav{
        margin-top: 120px;
        padding-bottom: 80px;
        width: -webkit-fill-available;
        border-radius: 50% 50% 50px 50px / $width $width 50px 50px !important;
        .profile-img{
          margin-top: -130px;
          border: solid 2px style.$orange-color;
        }
        .nav{
          .element-selected{
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          ul{
            padding: 10px;
          }
          .selected{
            background-color: style.$orange-color;
            border-radius: 7px;
            color: #fff;
          }
          .nav-list{
            display: none;
            border: solid 1px style.$base-color ;
            border-radius: 10px;
          }
          .open-list{
            display: block !important;
          }
        }
        .logout-btn{
          bottom: 20px ;
        }
        
      }
      .right-nav{
        width: 100%;
        padding-top: 50px;
      }
    }
  }
}