@use '/src/app/theme.scss' as style;

.dashboard{
  margin-top: 100px;
  margin-bottom: 50px;
  .dashboard-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    .left-nav{
      position: relative;
      height: 700px;
      width: 25%;
      background-color: #fff;
      color: style.$base-color;
      .profile-img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
      }
      .line{
        width: 100%;
        margin: 20px 0 ;
      }
      .nav{
        width: 100%;
        ul{
          list-style: none;
          padding-inline-start: 0px;
          margin-left: -50px;
          li{
            margin: 10px 0;
            padding-left: 50px !important;
            padding: 10px 0;
            cursor: pointer;
          }
          .selected{
            background-color: style.$orange-color;
            border-radius: 0 20px 20px 0;
            color: #fff;
          }
        }
      }
      .logout-btn{
        position: absolute;
        bottom: 50px;
        color: #fff;
        background-color: #FD5353;
        border: solid 2px #FD5353;
      }
    }
    .right-nav{
      width: 60%;
      height: 100%;
      padding-top: 50px;
      
    }
  }
}