<header class="header">
  <div class="view horizontal">
    <a href="/employer" ><img class="logo" src="assets/icons/logo-text.png" alt=""></a>
    <div class="header-menu horizontal menu-right">
      <ul>
        <a *ngFor="let item of menu" href="{{item.href}}"><li>{{item.title}}</li></a>
      <a href="/employer/commands" matBadge="{{notif}}" 
      [matBadgeHidden]="notif == 0"
      matBadgeColor="accent"><li>Check Commands</li></a>
      </ul>
      
      
      <a (click)="logout()">
        <button class="btn extra-small-btn">
          Logout
        </button>
      </a>
    </div>
  </div>
</header>
