@use '/src/app/theme.scss' as style;

.header{
  height: 70px;
  width: 100%;
  background-color: #fff;
  color: style.$base-color;
  box-shadow:   0 2px 6px style.$shadow-color;
  z-index: 999;
  position: fixed;
  top: 0;
  .view{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo{
      margin: auto;
      height: 50px;
    }
    .header-menu{
      justify-content: space-between;
      ul{
        list-style-type: none;
        padding-inline-start: 0;
        li{
          display: inline;
        }
      }
      a{
        margin: 20px;
        color: style.$base-color;
        .mat-badge-content{
          right: -22px !important;
        }
      }
      .btn{
        color: #fff;
        background-color: #FD5353;
        border: solid 2px #FD5353;
      }
    }
  }
  
}