@import '/src/app/theme.scss';


.sign-up{
  padding-top: 150px;
  padding-bottom: 75px;
  background-image: url('/assets/img/auth/Sign\ up\ background.png');
  background-position: center;
  background-size: cover;
  .content{
    justify-content: space-between;
    .form{
      position: relative;
      justify-content: space-between;
      align-items: flex-start;
      background-color:#fff ;
      border-radius: 7px;
      padding: 20px;
      
      .Personal-Information{
        width: 100%;
      }
      .Account-Security{
        mat-form-field{
          width: 100%;
        }
      }
      div{
        .title-form{
          margin-bottom: 10px;
        }
        
        a{
          color: $orange-color;
        }
        
      }
      .check-box-elements{
       
        mat-checkbox{
          margin-top: 10px;
          .test{
            white-space: break-spaces;
          }
        }
        
      } 
      .submit-button{
        text-align: center;
        width: 100%;
        button{
          border-radius: 25px;
        margin : 20px 0;
        width: 80%;
        }
      }
      .links{
        display: grid;
        a{
          color: $orange-color;
        }
      }

      img{
        position: absolute;
        bottom: -5px;
        right: -35px;
        height: 100px;
      }
    }
    .title{
      color: #fff;
      font-size: 20px;
      h3{
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 20px;
      }
      p{
        font-size: 15px;
        span{
          color: gray;
        }
      }
    }
    
  }
  
}



@media screen and (min-width : 700px) {
  .sign-up{
    .content{
      .form{
        width: 340px;
        .fildes{
          display: flex;
          justify-content: space-between;
        mat-form-field{
          width: 47%;
        }
        }
      }
      .title{
        width: 450px;
      }
    }
}
}

@media screen and (max-width : 700px) {
  .sign-up{
    .content{
      flex-direction: column;
      .title{
        text-align: center;
        margin-bottom: 50px;
        h3{
          font-size: 40px;
        }
      }
      .form{
        width: calc(100% - 40px);
        img{
          display: none;
        }
        .fildes{
        mat-form-field{
          width: 100%;
        }
        }
      }
    }
}
}