<div class="home">
  <div class="home-thumbnail">
    <div class="view">
      <div class="thumbnail-content">
        <div>
          NOW YOU CAN FEEL THE ENERGY
          <div class="thumbnail-title">
            Start your day with<br>
            a Mocha Coffee
          </div>
          <div *ngIf="isConnected ; else notConnected">
            <a href="/dashboard/settings"><button class="white-btn small-btn">My Dashbord</button></a>
          </div>
          <ng-template #notConnected>
            <div>
              <a href="auth/sign-in"><button id="sign-in" class="white-btn small-btn">Sign In</button></a>
              <a href="auth/sign-up"><button id="sign-up" class="white-base-btn small-btn">Sign Up</button></a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="view">
    <div class="flavors item">
      <div class="cup">
        <div class="cup-item">
          <div style="background-color: #9E7B56;">
            <img  src="assets/img/home/cup chocolate.png" alt="">
            
          </div>
          Chocolate
        </div>
        
        <div class="cup-item">
          <div style="background-color: #CF9B64;">
            <img  src="assets/img/home/cup caramel.png" alt="">
          </div>
          Hazelnut
        </div>
        <div class="cup-item">
          <div style="background-color: #EDBD75;">
            <img  src="assets/img/home/cup hazelnut.png" alt="">
          </div>
          Caramel
        </div>
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>

      </div>
      <h5>
        50 DIFFERENT<br>
        FLAVORS
      </h5>
      <a href="/menu"><button class="white-btn larg-btn">Check our Menu</button></a>
    </div>
  </div>
  <div class="thumbnail thumbnail2">
    <div class="view">
      <h5>
        Always close to you 
      </h5>
    </div>
  </div>
  <div class="view">
    <div class="gift item">
      <div class="left-item">
        <h5>
          Take a Luck in
          our Gift center
        </h5>
        <a href="/gifts"><button class="orange-btn larg-btn">Visit shop</button></a>
      </div>
      <div class="right-item">
        <img src="assets/img/home/gifts.png" alt="" width="100%">
      </div>
    </div>
  </div>
  <div class="thumbnail thumbnail3">
    <div class="view">
      <h5>
        Good morning
      </h5>
    </div>
  </div>
  <div class="view">
    <div class="order item">
      <div class="left-item">
        <img src="assets/img/home/Order-now.png" alt="" width="100%">
      </div>
      <div class="right-item">
        <h5>
          your coffee
          will come to you
        </h5>
        <a href="/dashboard/my-orders"><button class="white-btn larg-btn">Order Now</button></a>
      </div>
      
    </div>
  </div>
  <div class="thumbnail thumbnail4">
  </div>
  <div class="view">
    <div class="books-insta">
      <div class="card item">
        <img src="/assets/img/home/book.png" alt="">
        <h2>
          Coffe, Book, Mood.
        </h2>
        <a href="https://www.pinterest.com/fashionstargirl/milk-and-mocha-bear/" target="_blank"><button class="orange-btn small-btn">See options</button>
        </a>
      </div>
      <div class="card item" >
        <img src="/assets/img/home/insta.png" alt="">
        <h2>
          Join the instagram community
        </h2>
        <a href="https://www.instagram.com/milkmochabear/?hl=en" target="_blank"><button class="orange-btn small-btn">Check Now</button>
        </a>
      </div>
    </div>
  </div>
</div>

